<h1>Trade REST API</h1>

<p>This is a basic REST client for a mock trade service. Here, you can add, <br>
edit, delete mock trades.<br>

Each trade is broken down into the following structure: <br>
id, stock, price, volume <br>
So be sure to enter all this in the Swagger UI  </p>

<a href="/swagger-ui.html">Swagger UI is here</a>